body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    // background-color: $primary;
    padding-top: 95px;
    overflow-x: hidden;
    @media only screen and (max-width:500px) {
        padding-top: 90px;
     }
}

@media only screen and (min-width:1200px) and (max-width:1450px) {
    .container {
        max-width: 1250px !important;
    }
}

@media only screen and (min-width:1450px) {
    .container {
        max-width: 1400px !important;
    }
}
@media only screen and (min-width:1600px) {
    .container {
        max-width: 80% !important;
        align-self: center !important;
        justify-self: center !important;
    }
}

a {
    text-decoration: none;
}

// ------------------------------------Ticker


@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 30px;
    background: linear-gradient(269.47deg, #FFB800 20%, #DD824F 128.56%);
    padding-left: 100%;
    box-sizing: content-box;
    z-index: 10000;

    .ticker {

        display: inline-block;
        height: 30px;
        line-height: 30px;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: 35s;
        animation-duration: 35s;


        &__item {
            display: inline-block;
            padding: 0 2rem;
            font-size: 14px;
            color: white;
            font-weight: 500;

        }

    }

}


// -----------------------------------navbar

.navbar-toggler {
    font-size: 15px;
}

.navbar {
    height: 65px;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    padding: 0px !important;
    @media only screen and (max-width:500px) {
       height: 60px;
    }
    .navbar-brand .logo {
        width: auto;
        height:55px;

        // @media only screen and (min-width:1650px) {
        //     width: auto;
        //     height: 78px;
        // }
        @media only screen and (max-width:768px) {
            padding-top: 0px !important;
            height: 50px;
            width: auto;
        }
       
    }

    .navbar-brand .logo-text {
        width: 100px;
        height: auto;

        // @media only screen and (min-width:1650px) {
        //     width: 150px;
        //     height: auto;
        // }
        @media only screen and (max-width:768px) {
            padding-top: 0px !important;
            height: 20px;
            width: auto;
        }
    }

    background-color: $primary;
    z-index: 110;
    box-shadow: 0px 4px 15px rgba(0, 102, 255, 0.1);
}

.nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #535353;
    padding-bottom: 0px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border-bottom: 2px solid transparent !important;

 
    @media only screen and (max-width:500px) {
        font-size: 13px;
    }
}

.navbar-collapse {

    @media only screen and (max-width:1200px) {
        padding: 10px 20px !important;
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;
        background-color: $primary;
        z-index: 10000;
       
    }
}


.nav-link:hover {
    color: $primary2 !important;
    border-bottom: 2px solid $primary2 !important;
}

.active-link {
    color: $primary2 !important;
    border-bottom: 2px solid $primary2 !important;
}

// .carousel-indicators .active{
//     background-color: $primary2;
//     z-index: 10000;
// }
.number {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $text-dark !important;

    @media only screen and (max-width:1200px) {
        margin-bottom: 10px;
    }
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.yellow-btn {
    padding: 5px 20px;
    background: linear-gradient(269.47deg, #FFB800 0.26%, #DD824F 128.56%);
    border-radius: 25px;
    border: 2px solid transparent !important;

    @media only screen and (max-width:1200px) {
        width: 100%;
    }
}

.yellow-btn:hover {
    background: linear-gradient(269.47deg, #e9a701 0.26%, #e37b3f 128.56%);
}

.yellow-btn2 {
    padding: 7px 35px;
    background: linear-gradient(269.47deg, #FFB800 0.26%, #DD824F 128.56%);
    border-radius: 25px;
    border: 2px solid transparent !important;
    position: relative;
    @media only screen and (max-width:500px) {
        width: 250px;
        margin-bottom: 20px !important;
        padding: 5px;
    }
}

.yellow-btn2 a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;
    text-decoration: none;
    @media only screen and (max-width:500px) {
       font-size: 14px;
    }

}
.yellow-btn2:hover {
    background: transparent;
    border: 2px solid $primary2 !important;
}

.yellow-btn-transparent {
    padding: 7px 35px;
    background: transparent;
    border-radius: 25px;
    border: 2px solid $primary2;
    @media only screen and (max-width:500px) {
        width: 250px;
        margin-bottom: 20px !important;
        padding: 5px;
    }
}

.yellow-btn-transparent:hover {
    background: linear-gradient(269.47deg, #FFB800 0.26%, #DD824F 128.56%);
}
.yellow-btn-transparent a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;
    text-decoration: none;
    @media only screen and (max-width:500px) {
        font-size: 14px;
     }
    
}
.yellow-btn-transparent2 {
    padding: 7px 35px;
    background: transparent;
    border-radius: 25px;
    border: 2px solid $primary2;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $primary2;
    text-decoration: none;
}

.yellow-btn-transparent2:hover {
    background: $yellow;
    color: white;
}
.yellow-btn-white{
    padding: 7px 35px;
    background: transparent;
    border-radius: 25px;
    border: 2px solid white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: white;
    text-decoration: none;
}


.yellow-btn a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;
    text-decoration: none;

    // @media only screen and (min-width:1600px) {
    //     font-size: 18px;
    // }
}






.footer {
    background: linear-gradient(256.15deg, #FFB800 0%, #DD824F 100%);
}

.search-row {
    padding: 30px 0px;
    border-bottom: 1px solid white !important;

    @media only screen and (max-width:459px) {
        padding: 20px 0px;
    }
}

.footer-input-div {
    position: relative;
}

.footer-input {
    background: #FFFFFF;
    border: 1px solid #D6BD9E;
    border-radius: 45px;
    height: 45px;
    width: 100%;
    color: black;
    padding: 0px 15px;
}

input:focus {
    outline: none;
    box-shadow: none;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

.footer-input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #AAAAAA;
}

.footer-btn {
    background: linear-gradient(266.19deg, #FFB800 5.66%, #DD824F 100%);
    border-radius: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
    height: 43px;
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    padding: 0px 30px;

    @media only screen and (max-width:459px) {
        padding: 0px 15px;
    }
}

.text-uppcase {
    text-transform: uppercase;
}

.bg-gray {
    // background-color: rgba(143, 119, 31, 0.06);
    // ;
    background: $yellow ;
}
.bg-gray2 {
    background-color: rgba(143, 119, 31, 0.06);
    ;
    // background: $yellow ;
}



.referral{
    position: relative;
}
.referral::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 8px solid $primary2;
    position: absolute;
    z-index: -1;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    // @media only screen and (min-width:1200px) {
    //     top: 20%;
    //     left: 35%;
    // }
    // @media only screen and (max-width:1200px) {
    //     top: 20%;
    //     left: 30%;
    // }
    // @media only screen and (max-width:991px) {
    //     top: 20%;
    //     left: 28%;
    // }

    // @media only screen and (max-width:550px) {
    //     top: 20%;
    //     left: 49%;
    // }
    // @media only screen and (max-width:1050px) {
    //     top: 20%;
    //     left: 50%;
    // }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}

.animation-div {
    overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next{
    @media only screen and (max-width:767px) {
        display: none;
    }
}
.nav-item{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
}


// ====================================select style

/* The container must be positioned relative: */
.custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background: white;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 5px 20px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #A6A0A0;
    width: 100%;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $primary2 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent $primary2 transparent;
    top: 7px;
  }
  .select-items{
    max-height: 200px;
    overflow-y: scroll;
  }
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    background: white;
    padding: 11px 20px;
    font-size: 16px;
    color: black;
    width: 100%;
    cursor: pointer;
    
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: $primary2;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-items:hover{
    color: black !important;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
  }

.sign-up-form-border{
    border: 2px solid $primary2;
    padding: 20px;
    @media only screen and (max-width:500px){
        border: none;
        padding: 20;
    }
}