.contact-text{
    background: radial-gradient(100% 416.02% at 0% 42%, rgba(2, 2, 2, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%),url('/assets/images/contact.png') /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    @media only screen and (max-width:768px){
       height: 300px;
     }
}